*{
    margin: 0px;
    padding: 0px;
}
.container{

    display: flex;
    justify-content: space-around;
}
.box{
    background-color: aquamarine;
    width: 200px;
    height: 150px;
    padding: 20px;
}
.box2{
    background-color: rgb(201, 177, 145);
}
.box3{
    background-color: rgb(87, 112, 104);
}
